{
    "token": "",
    "trigger": "@",
    "introChannel": "introductions",
    "db_host": "localhost",
    "db_name": "dbname",
    "db_port": 3306,
    "db_username": "username",
    "db_password": "password",
    "admin_roles": [
        "Owner",
        "Admin",
        "Server Manager"
    ],
    "default_role": "Pup",
    "starter_role": "The Pack",
    "server_contracts": {
        "community-rules": {
            "channel": "guild-contracts",
            "name": "community-rules"
        }
    }
}